Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin/?$ app/admin.php [L]
RewriteRule ^dev/?$ app/dev/index.php [L]
RewriteRule ^/?$ app/index.php [L]
