:root {
  /* Deprecated */
  --btn-primary: #2e79e8;
  --btn-secondary: #198754;
  --btn-warning: #ffc107;
  --btn-danger: #dc3545;

  /* test this color: 736b5e  */

  /* Custom vars for javascript Custom Theme */
  --main-bg: #212121;
  --main-font: #e9e5e5;
  --main-accent: #000000;
  --main-url: #e9e5e5;
  --input-bg: #000000;
  --input-font: #000000;
  --input-border: #000000;
  --input-hover: #000000;
  --input-radius: 6px;
  --btn-primary-bg: #000000;
  --btn-primary-font: #000000;
  --btn-primary-border: #000000;
  --btn-primary-hover: #000000;
  --btn-primary-radius: "6px";
  --btn-secondary-bg: #000000;
  --btn-secondary-font: #000000;
  --btn-secondary-border: #000000;
  --btn-secondary-hover: #000000;
  --btn-secondary-radius: "6px";
  --btn-warning-bg: #000000;
  --btn-warning-font: #000000;
  --btn-warning-border: #000000;
  --btn-warning-hover: #000000;
  --btn-warning-radius: "6px";
  --btn-danger-bg: #000000;
  --btn-danger-font: #000000;
  --btn-danger-border: #000000;
  --btn-danger-hover: #000000;
  --btn-danger-radius: "6px";

  --btn-orange: rgb(210, 86, 49); /* #d25631 */
  --btn-orange-hover: rgb(210, 86, 49, 0.8); /* #d25631 */
}

html {
  font-family: "Arial";
  padding-bottom: 50px;
  padding-top: 20px;
}

body {
  background: var(--main-bg);
  color: var(--main-font);
  transition: background 1.0s, color 1.0s ease;
}

a {
  color: var(--main-url);
  transition: color 1.0s ease;
  cursor: pointer;
}

#rwbModal div div {
  background: var(--main-bg);
  color: var(--main-font);
}

#themeSwitcher {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 25px;
  height: 25px;
  border: 1px solid #ffffff;
  display: none; /* enabled via 'themeSwitcher' variable in JS */
  border-radius: 50%;
  opacity: 0.25;
  transition: opacity 0.5s ease;
  cursor: pointer;
  z-index: 99;
}

#themeSwitcher:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}


.patchContainer .col-md-6, .patchContainer .col-md-12, .patchContainer .col-md-4 {
  line-height: 1.7;
  margin-bottom: 15px;
  border-radius: 10px;
}


body .patchContainer .col-md-6:hover { /* Dark theme column hover */
  background: var(--main-accent);
  transition: all 1.0s ease;
  cursor: pointer;
}

#buildCompleteData p, #buildNew p {
  line-height: 1.1;
}

#buildNewContainer {
  background: var(--main-accent);
  border-radius: 10px;
}

#buildIDCheck {
  padding: 0px 5px;
  height: auto;
}

.buildHidden, .buildInfo, .startHidden {
  display: none;
}

.selectButton {
  font-size: 11px;
  padding: 2px 4px;
  display: none;
  cursor: pointer;
}

#microgInfoToggle {
  background: var(--btn-primary-bg);
  border: none;
}

#instructions {
  display: none;
}

#instructions img {
  width: 100%;
  max-width: 400px;
}

#instructionsClose {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

#buildOffline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 10px;
  text-align: center;
  background: #6b3131;
  display: none;
}

#buildOffline span {
  display: none;
}

#debugMenu {
  background: var(--main-accent);
  border-top-right-radius: 5px;
}

#debugMenuToggle {
  opacity: 0.1;
}

#debugMenu, #debugMenuToggle {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  transition: background 1.0s, color 1.0s ease;
}

.underline {
  text-decoration: underline;
}

.btn-orange {
  background: var(--btn-orange) !important;
  border: 1px solid var(--btn-orange) !important;
  color: #ffffff;
}

.btn-orange:hover {
  background: var(--btn-orange-hover) !important;
}

#patchesGeneral select, .btn-input {
  background: var(--input-bg);
  color: var(--input-font);
  border: 1px solid var(--input-border);
  border-radius: var(--input-radius);
}
#patchesGeneral select:hover, .btn-input:hover {
  background: var(--input-hover);
}

.patchSection .btn-input {
  padding-left: 8px;
  padding-right: 8px;
}

.main-bg {
  background: var(--main-bg);
}

.main-accent {
  background: var(--main-accent);
}

.btn-primary, .bg-primary {
  background: var(--btn-primary-bg);
  color: var(--btn-primary-font);
  border: 1px solid var(--btn-primary-border);
  border-radius: var(--btn-primary-radius);
}
.btn-primary:hover { background: var(--btn-primary-hover); }

.btn-secondary, .bg-secondary, .bg-success {
  background: var(--btn-secondary-bg) !important;
  color: var(--btn-secondary-font) !important;
  border: 1px solid var(--btn-secondary-border) !important;
  border-radius: var(--btn-secondary-radius) !important;
}
.btn-secondary:hover { background: var(--btn-secondary-hover); }

.btn-warning, .bg-warning {
  background: var(--btn-warning-bg);
  color: var(--btn-warning-font);
  border: 1px solid var(--btn-warning-border);
  border-radius: var(--btn-warning-radius);
}
.btn-warning:hover { background: var(--btn-warning-hover); }

.btn-danger, .bg-danger {
  background: var(--btn-danger-bg);
  color: var(--btn-danger-font);
  border: 1px solid var(--btn-danger-border);
  border-radius: var(--btn-danger-radius);
}
.btn-danger:hover { background: var(--btn-danger-hover); }

.btn-primary, .btn-secondary, .btn-warning, .btn-danger, #patchesGeneral select {
  transition: all 1.0s;
}

.btn-primary:hover, .btn-secondary:hover, .btn-warning:hover, .btn-danger:hover, #patchesGeneral select:hover {
  transition: all 1.0s;
}


/* INSTALLER */
.fileDownload, .toggleSection, .fileDelete {
  margin-right: 10px;
  margin-left: 0px !important;
}

.bg-light {
  color: #000000;
}


/* ADMIN */
#adminBack {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}


#adminConfiguration select, #adminConfiguration input {
  background: var(--input-bg);
  color: var(--input-font);
  border-radius: var(--input-radius);
  transition: all 1.0s;
}

#adminConfiguration div div .row:hover {
  background: var(--main-accent);
  border-radius: 6px;
}

#adminContainer .badge {
  margin-left: 8px;
}

#updateContainer {
  border-radius: 6px;
}

#configThemeContainer {
    background: var(--main-accent);
    border-radius: 6px;
}

.configError {
  background: #dc3545 !important;
  color: #ffffff !important;
}

#configThemeContainer input {
  border: none;
}
